node_modules
yotta_modules
yotta_targets
pxt_modules
built
typings
tmp
temp
projects/**
clients/win10/app/AppPackages
clients/win10/app/BundlePackages
clients/win10/app/BundleArtifacts
clients/win10/app/bin
clients/win10/app/bld
clients/win10/*.opendb
clients/**/bin/**
clients/**/obj/**
electron-out
hexcache
build
crowdinstats.csv

*.user
*.sw?
*.ts.new
*.tgz
*.db
*.suo
*.log
.vscode/.BROWSE.VC.DB-shm
.vscode/.BROWSE.VC.DB-wal
libs/carbon/_locales/carbon-jsdoc-strings.json
libs/carbon/_locales/carbon-strings.json
libs/carbon/enums.d.ts
libs/carbon/shims.d.ts
libs/energy/_locales/energy-jsdoc-strings.json
libs/energy/_locales/energy-strings.json
libs/energy/enums.d.ts
libs/energy/shims.d.ts
libs/initialize/_locales/initialize-jsdoc-strings.json
libs/initialize/_locales/initialize-strings.json
libs/initialize/enums.d.ts
libs/initialize/shims.d.ts
libs/samsung-iot/_locales/samsung-iot-jsdoc-strings.json
libs/samsung-iot/_locales/samsung-iot-strings.json
libs/samsung-iot/enums.d.ts
libs/samsung-iot/shims.d.ts
package-lock.json
package-lock.json
