[submodule "libs/weather"]
	path = libs/weather
	url = https://github.com/santosh-kondu/samsung-weather.git
[submodule "libs/cloud-variables"]
	path = libs/cloud-variables
	url = https://github.com/santosh-kondu/cloud-variables.git
